@model ProjetoBanco.MVC.ViewModels.TrasacaoViewModel
@using (Html.BeginForm("ConfirmTrasacao","Operacoes"))
{
    if (ViewBag.erroTrasacao == null)
    {
        if (Model != null)
         {
             @Html.HiddenFor(t=>t.agencia)
             @Html.HiddenFor(t=>t.contaId)
             @Html.HiddenFor(t=>t.clienteId)
             @Html.HiddenFor(t=>t.valor)
         }
        <div class="row">
            <div class="col s12">
                <h4>
                    Depósito para:
                </h4>
                <h4>
                    Cliente Favorecido:@Model.nome
                </h4>
                <h4>
                    Valor: @Model.valor
                </h4>
            </div>
            <div class="col s6">
                <button class="btn waves-effect waves-light right" type="submit" name="ConfirmDeposito">
                    Confirmar
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    }
    else
    {
        <h4>@ViewBag.erroTrasacao</h4>
        <div class="col s6">
            <button class="btn waves-effect waves-light right" type="submit" name="ConfirmDeposito">
                Cadastrar
                <i class="material-icons right">send</i>
            </button>
        </div>
    }
}
