@{
    Layout = null;
}

@model IEnumerable<ProjetoBanco.MVC.ViewModels.EstornoViewModel>
<div class="row" id="opEstorno">
    <h6>Escolha a Operação para realizar o estono</h6>
    <hr/>
    <table class="bordered striped responsive-table centered">
        <thead>
            <tr>
                <th>Cliente</th>
                <th >Conta</th>
                <th>Agência</th>
                <th>Data Operação</th>
                <th>Operação</th>
                <th>Valor</th>
                <th>Saldo Anterior</th>
                <th>Estornar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var op in @Model)
            {
                <tr>
                    <td>@op.cliente</td>
                    <td>@op.conta</td>
                    <td>@op.agencia</td>
                    <td>@op.dataOp</td>
                    <td>@op.descricao</td>
                    <td>@op.valorOp</td>
                    <td>@op.saldoAnterior</td>
                    <td>
                        <a class="btn-floating btn-large waves-effect waves-light green addEstorno" id=@op.Id><i class="material-icons">arrow_forward</i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="row" id="opSelecionada">
    <div class="col s12">
        <div class="row divErroNaOperacao">
            <div class="col s12">
                <h6 class="erroOperacao"></h6>
            </div>
        </div>
        <div class="row divSucessoNaOperacao">
            <div class="col s12">
                <h6 class="sucessoOperacao"></h6>
            </div>
        </div>
        <h5>Confirma Estorno</h5>
        <hr />
        <div class="col s12">
            <div class="col s3">
                <label class="col s12">Cliente:</label>
                <label class="col s12" id="cliente"></label>
            </div>
            <div class="col s1">
                <label class="col s12">Conta:</label>
                <label class="col s12" id="conta"></label>
            </div>
            <div class="col s1">
                <label class="col s12">Agência:</label>
                <label class="col s12" id="agencia"></label>
            </div>
            <div class="col s2">
                <label class="col s12">Data Operação:</label>
                <label class="col s12" id="dataOp"></label>
            </div>
            <div class="col s2">
                <label class="col s12">Operação:</label>
                <label class="col s12" id="descricao"></label>
            </div>
            <div class="col s1">
                <label class="col s12">Valor:</label>
                <label class="col s12" id="valorOp"></label>
            </div>
            <div class="col s2">
                <label class="col s12">Saldo Anterior:</label>
                <label class="col s12" id="saldoOp"></label>
            </div>
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light enviaEstorno" type="button" id="estorna">
                Estornar
                <i class="material-icons right">send</i>
            </button>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".divSucessoNaOperacao").hide();
        $("#feedBackEstorno").hide();
        $("#opSelecionada").hide();
        var id = 0;
        $(".addEstorno").click(function () {
            $("#opEstorno").hide();
            id = $(this).closest('a').attr('id');
            $.ajax({
                type: "GET",
                url: "/Operacoes/GetOpRealizadaEstornoById",
                datatype: "Json",
                data: {
                    id: id
                },
                success: function (dados) {
                    debugger;
                    $(".enviaEstorno").prop('id', dados.Id);
                    $("#cliente").text(dados.cliente);
                    $("#conta").text(dados.conta);
                    $("#agencia").text(dados.agencia);
                    $("#dataOp").text(dados.dataFormatada);
                    $("#descricao").text(dados.descricao);
                    $("#valorOp").text(dados.valorOp);
                    $("#saldoOp").text(dados.saldoAnterior);
                    $("#opSelecionada").show();
                    $(".divErroNaOperacao").hide();
                },
                error: function ajaxError(xhr) {
                    debugger;
                    $("#opSelecionada").show();
                    $(".divErroNaOperacao").fadeIn(3000);
                    $(".erroOperacao").html("<i class='tiny material-icons'>error</i>Ops! algo deu errado. " + xhr.responseText);
                }
            });
        });
        $("#estorna").click(function () {
            debugger;
            var id = $(this).closest('button').attr('id');
            $.ajax({
                type: "POST",
                url: "/Operacoes/ConfirmEstorno",
                dataType: "JSON",
                data: {
                    id: id
                },
                success: function () {
                    debugger;
                    $(".divErroNaOperacao").hide();
                    $(".divSucessoNaOperacao").fadeIn(3000);
                    $(".sucessoOperacao")
                        .html("<i class='tiny material-icons'>check_circle</i> Estorno realizado com Sucesso!");
                },
                error: function (xhr) {
                    debugger;
                    $(".divSucessoNaOperacao").hide();
                    $(".divErroNaOperacao").fadeIn(3000);
                    $(".erroOperacao").html("<i class='tiny material-icons'>error</i>Ops! algo deu errado. " + xhr.responseText);
                }
            });
        });
    });
</script>