<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>@ViewBag.Title - SisBank</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css" />
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div class="modal">    </div>
    <header>
        <ul id="alteracoes" class="dropdown-content">
            @if (Session["nivel"].ToString() == "f")
            {
                <li>@Html.ActionLink("Agência", "UpdateAgencia", "Agencia")</li>
                <li>@Html.ActionLink("Clientes", "EditCliente", "Clientes")</li>
                <li>@Html.ActionLink("Conta", "EditConta", "Contas")</li>
                <li>@Html.ActionLink("Estorno", "DadosParaEstorno", "Operacoes")</li>
                <li>@Html.ActionLink("Usuários", "EditUsuario", "Usuarios")</li>

            }
        </ul>
        <ul id="cadastros" class="dropdown-content">
            @if (Session["nivel"].ToString() == "f")
            {
                <li>@Html.ActionLink("Agências", "CreateAgencia", "Agencia")</li>
                <li>@Html.ActionLink("Bancos", "CreateBanco", "Banco")</li>
                <li>@Html.ActionLink("Contas", "CreateConta", "Contas")</li>
                <li>@Html.ActionLink("Clientes", "CreateCliente", "Clientes")</li>
                <li>@Html.ActionLink("Operações", "CreateOperacao", "Operacoes")</li>
                <li>@Html.ActionLink("Usuários", "CreateUsuario", "Usuarios")</li>
            }
        </ul>
        <ul id="operacoes" class="dropdown-content">
            <li>@Html.ActionLink("Deposito", "Deposito", "Operacoes")</li>
            <li>@Html.ActionLink("Saldo", "Saldo", "Operacoes")</li>
            <li>@Html.ActionLink("Saque", "Saque", "Operacoes")</li>
            <li>@Html.ActionLink("Transferência", "Transferencia", "Operacoes")</li>
        </ul>
        <nav class="fixed" id="menu">
            <div class="nav-wrapper">
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a class="dropdown-button" href="#!" data-activates="alteracoes">Alteracões<i class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a class="dropdown-button" href="#!" data-activates="cadastros">Cadastros<i class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a class="dropdown-button" href="#!" data-activates="operacoes">Operações<i class="material-icons right">arrow_drop_down</i></a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="sass.html">Sass</a></li>
                    <li><a href="badges.html">Components</a></li>
                    <li><a href="collapsible.html">Javascript</a></li>
                    <li><a href="mobile.html">Mobile</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container margim-top">
        @RenderBody()

    </div>
    <footer class="page-footer black">

        <div class="footer-copyright">
            <div class="container">
                © 2014 Copyright SisBank
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
